*{
    margin:0;
    padding:0;
}

#box-div{
    position:absolute;
    margin:auto;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.domain{
    stroke: black;
    font-size: 8px;
}
#feature-area .location .location-mark{
    stroke: black;
}

#feature-area .location .location-text{
    text-anchor: middle;
    font-size: 4px;
    font-family: sans-serif;
}

#feature-area .source{
    stroke: #ffaaa5;
}

#feature-area .operon{
    stroke: #ffd3b6;
}

#feature-area .CDS{
    stroke: #30e3ca;
}

#feature-area .gene{
    stroke: #00e0ff;
}

#feature-area .exon{
    stroke: #a5dee5;
}
#feature-area .intron{
    stroke: #e0f9b5;
}
#feature-area .misc_feature{
    stroke: #dde7f2;
}

#feature-area .variation{
    stroke: #FF2121;
}

#feature-area .gap{
    stroke: #FF2121;
    opacity: 0.9;
}

#feature-area .others{
    stroke: #dde7f2;
}

#feature-area .annotation{
    text-anchor: middle;
    fill: black;
}

#feature-area .annotationg-bg{
    stroke: #ffc93c;
    opacity: 0.9;
}